@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

:root {
  /* bg - #1f1f38, bg-v #2c2c6c, primary - #4db5ff; p-v - */
  --color-bg: #fab1a0;
  --color-bg-variant: #e17055;
  --color-primary: #2d3436;
  --color-primary-variant: rgba(146, 146, 139, 0.6);
  --color-white: #fff;
  --color-light: rgba(146, 146, 139, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
  --transition: all 0.4s ease;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: #fff;
  line-height: 2.5rem;
}
/* General Styles  */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2rem;
}
section {
  margin-top: 6rem;
  min-height: 100vh;
}
/* section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}
section > h2 {
  color: var(--color-primary);
} */
.text-light {
  color: var(--color-primary);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
